body {
    padding: 0;
    margin: 0;

}

main {
    padding: 16px;
}

footer {
    padding: 28px 0px;
    margin-top: 25px;
    background-color: rgb(182, 203, 137);
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid white;
    padding: 16px;
    background-color: rgba(246, 86, 0, 0.919);


}
a {
    text-decoration: none;
}


.grid-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-gap: 10px 100px;

}

.has-green-text a {
color: rgba(12, 78, 12, 0.642);
}

.has-teal-text {
    color: rgb(26, 135, 94);
}


#nav-main-line-white {
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
  }
